In [1]:
import pandas as pd
import gmaps
import gmaps.datasets
from config import g_key

In [2]:
gmaps.configure(api_key=g_key)

In [3]:
hotel_data_to_load = "WeatherPy_vacation.csv"

In [12]:
hotel_data_df = pd.read_csv(hotel_data_to_load)
hotel_data_df

,City_Id,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,1,Hithadhoo,MV,85.08,-0.60,73.08,overcast clouds,Scoop Guest House
1,7,Bubaque,GW,77.09,11.28,-15.83,scattered clouds,Casa Dora
2,10,Kapaa,US,78.80,22.08,-159.32,broken clouds,Sheraton Kauai Resort at Coconut Beach
3,18,Tautira,PF,86.00,-17.73,-149.15,scattered clouds,Pension Oaoa
4,19,East London,ZA,84.20,-33.02,27.91,clear sky,Tu Casa
...,...,...,...,...,...,...,...,...
134,518,Tura,IN,85.78,25.52,90.22,light rain,Hotel RIKMAN Continental
135,519,Lobito,AO,77.70,-12.35,13.55,light rain,Casa Rosa Hotel Residence
136,531,Fairhope,US,75.99,30.52,-87.90,overcast clouds,Hampton Inn Fairhope-Mobile Bay
137,550,Mangrol,IN,89.51,21.12,70.12,clear sky,Hotel The Royal Honours
138,551,Wagar,SD,84.27,16.15,36.20,clear sky,NaN

In [13]:
touros_city_df = hotel_data_df[hotel_data_df["City"] == "Touros"]
touros_city_df

,City_Id,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
84,355,Touros,BR,75.2,-5.2,-35.46,scattered clouds,INN NEW HORIZON

In [14]:
nisia_floresta_city_df = hotel_data_df[hotel_data_df["City"] == "Nisia Floresta"]
nisia_floresta_city_df

,City_Id,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
51,216,Nisia Floresta,BR,78.8,-6.09,-35.21,few clouds,Rancho Crepusculo

In [15]:
olinda_city_df = hotel_data_df[hotel_data_df["City"] == "Olinda"]
olinda_city_df

,City_Id,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
36,168,Olinda,BR,78.8,-8.01,-34.86,broken clouds,Hotel 5 SÃ³is

In [17]:
sao_jose_da_coroa_grande_city_df = hotel_data_df[hotel_data_df["City"] == "Sao Jose Da Coroa Grande"]
sao_jose_da_coroa_grande_city_df

,City_Id,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
77,327,Sao Jose Da Coroa Grande,BR,79.07,-8.9,-35.15,moderate rain,CrÃ´a Mares Hotel

In [18]:
#Latitude and Longitude
touros_city = (-5.2, -35.46)
nisia_floresta_city = (-6.09, -35.21)
olinda_city = (-8.01, -34.86)
sao_jose_da_coroa_grande_city = (-8.9, -35.15)
fig = gmaps.figure()
touros_citytosao_jose_da_coroa_grande_city = gmaps.directions_layer(touros_city, sao_jose_da_coroa_grande_city)
fig.add_layer(touros_citytosao_jose_da_coroa_grande_city)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
fig = gmaps.figure()
touros_citytosao_jose_da_coroa_grande_city_via_nisia_floresta_city_via_olinda_city = gmaps.directions_layer(
    touros_city, sao_jose_da_coroa_grande_city, waypoints=[nisia_floresta_city, olinda_city],
    travel_mode ='DRIVING')
fig.add_layer(touros_citytosao_jose_da_coroa_grande_city_via_nisia_floresta_city_via_olinda_city)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
cities_df = pd.concat([touros_city_df, nisia_floresta_city_df, olinda_city_df, sao_jose_da_coroa_grande_city_df])
cities_df

,City_Id,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
84,355,Touros,BR,75.20,-5.20,-35.46,scattered clouds,INN NEW HORIZON
51,216,Nisia Floresta,BR,78.80,-6.09,-35.21,few clouds,Rancho Crepusculo
36,168,Olinda,BR,78.80,-8.01,-34.86,broken clouds,Hotel 5 SÃ³is
77,327,Sao Jose Da Coroa Grande,BR,79.07,-8.90,-35.15,moderate rain,CrÃ´a Mares Hotel

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt><dd>and<dd>{Max Temp} Â°F</dd>
</dl>
"""

In [25]:
#Store DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in cities_df.iterrows()]

In [28]:
#map
locations = cities_df[["Lat", "Lng"]]
cities = cities_df["City"]
current_weather = hotel_data_df[["Current Description", "Max Temp"]]
country = cities_df["Country"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))